* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3347B0;
    --color-text: #FFFFFF;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    color: var(--color-text);
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .button_close {
    display: flex;
    gap: 10px;
    align-items: center;
}

main {
    width: 100%;
}

main .container_inicio {
    padding-top: 100px;
    padding-bottom: 150px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

/* Container Inicio */

.container_inicio .text_pc {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.container_inicio .text_pc h1 {
    font-size: 3rem;
}

.container_inicio img {
    height: 100%;
}


.container_inicio h1 span {
    color: var(--primary-color);
}

.container_inicio .buttons_cursos{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container_inicio .buttons_cursos button {
    padding: 50px 80px;
    color: var(--color-text);
    font-size: 1.8rem;
    font-weight: 800;
    background-color: var(--primary-color);
    box-shadow: 8px 8px 5px 0px #3347B080;
    border: 1px solid black;
    transition: transform 0.5s, box-shadow 0.3s;
}

.container_inicio .buttons_cursos button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 5px 0px #3347B080;
}


/* Container Curso */
main .container_curso {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.container_curso h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
}

.container_curso .alunos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 70%;
}

.alunos .aluno {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    height: 250px;
    gap: 30px;
    padding: 25px 20px;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    box-shadow: 5px 5px 5px 0px #3347B080;
    transition: transform 0.5s, box-shadow 0.3s;
    cursor: pointer;
}

.aluno:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 5px 0px #3347B080;
}

.aluno img {
    border-radius: 50%;
    height: 110px;
    width: 110px;
    border: 2px solid white;
}

.aluno p{
    max-width: 80%;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    color: white;
}


footer {
    background-color: var(--primary-color);
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: var(--color-text);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .contato {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .contato li {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .redes {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .redes a {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
}


